@import './reset.css';
@import './font.css';
@import './colors.css';

*, *::before, *::after {
    box-sizing: border-box;
  }
/* 1 */

.container {
    min-height: 100vh;
    background-color: #000;

    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}
/* 2. LEFTBAR */
.leftbar {
    height: 100%;
    width: 30%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.btn {
    margin: 1.5rem 0;
    width: 8rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    box-shadow: inset  0 0 3px 3px #fff;
    border-bottom: 3px solid #fff;
}
#start, 
#pause {
    height: 12rem;
    width: 8rem;
}
.btn.hidden {
    display: none;
}

.score {
    color: #fff;
}
.score-title {
    text-align: center;
}
.score-number {
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    text-shadow: 1px 1px 2px #fff, 0 0 1rem #fff, 0 0 0.1rem #fff;
    font-weight: bold;
}
.time {
    border: 1px solid #fff;
    padding: .75rem;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.timeSymbol {
    margin-right: 0.5rem;
}
#timer {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

/* 3. TETRIS */
.game {
    position: relative;

}
#tetris {
    position: relative;
    margin: 0 auto;
    border: 3px solid #313131;
    background: #fff;

    height: fit-content;
}
#tetris .row {
    display: flex;    
}
#tetris .cell {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.tetrominoe {
    position: absolute;
    background: black;
}
.frozen {
    opacity: 1;
}
#end {
    min-width: 30rem;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.5rem;
}
#end.hidden {
    display: none;
}
#end .title {
    font-size: 1rem;
    margin: 2rem 1rem 1rem 1rem;
}
#end .score {
    font-size: 1rem;
    margin: 2rem 1rem;
}   
#end .play-again {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end .highest-assembly {
    font-size: 1rem;
    margin: 1rem 1rem;
}
#end #restartBtn {
    color: '#fff';
    width: 140px;
    height: 80px;
}

/* 4. RIGHTBAR */
.rightbar {
    min-width: 30%;
    margin: 0 1.5rem 1.5rem 3rem;
    
    /* border: 1px solid #fff; */
}

.rightbar-section {
    margin-bottom: 1.5rem;
    color: #fff;
}
.objective h2 {
    margin: 1rem 0;
}
.objective p {
    margin: 0.5rem 0;
}
.instructions-subtitle {
    margin: 1rem 0;
}
.instructions-set {
    margin: 1rem 0; 
}
.instructions-keySymbolsContainer {
    display: flex;
    margin: 0.5rem 0;
}
.instructions-keySymbol {
    border: 1px solid #fff;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructions-keySymbol:hover {
    box-shadow: 0 0 5px 3px #fff;
}
.instructions-keyDescription {
    margin: 0 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}