@import './tetris.css';
@import './reset.css';
@import './font.css';
@import './colors.css';
@import './score.css';

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;

    display: flex;
    padding: 3rem;

}

#leftbar {
    height: 100%;
    min-width: 30%;
    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    display: block;
    width: 140px;
    height: 80px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.hidden {
    display: none;
}




#gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#gameOver .title {
    font-size: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    
}

#gameOver .score {
    font-size: 1rem;
    margin: 1rem 1rem;
}   

#gameOver .highest-assembly {
    font-size: 1rem;
    margin: 1rem 1rem;
}

#gameOver #restartBtn {
    color: '#fff';
    width: 140px;
    height: 80px;
}
