@import './reset.css';
@import './font.css';
@import './colors.css';

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#tetris {
    position: relative;
    margin: auto;
    border: 3px solid black;
}

#tetris .row {
    display: flex;    
}

#gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#gameOver .title {
    font-size: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    
}

#gameOver .score {
    font-size: 1rem;
    margin: 1rem 1rem;
}   

#gameOver .highest-assembly {
    font-size: 1rem;
    margin: 1rem 1rem;
}

#gameOver #restartBtn {
    color: '#fff';
    width: 140px;
    height: 80px;
}
.tetrominoe {
    position: absolute;
    background: black;
}

.frozen {
    box-shadow: inset 0 0 5px 2px #fff;

    opacity: 1;
}
.btn {
    margin: auto;
    width: 140px;
    height: 80px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}