body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#tetris {
    position: relative;
    margin: auto;
    border: 3px solid black;
}


.tetrominoe {
    position: absolute;
    background: black;
}


.btn {
    margin: auto;
    height: 60px;
    width: 60px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}